.main{

    &--grid{
        display: grid;
        background-color: #044179;
        padding-bottom: 2rem;
    }

    &__grid--sidebar{
        display: grid;
        grid-template-columns: 0.8fr 3.2fr; 
        background-color: #044179;
        padding-bottom: 2rem;
    }

    @include  mobile {
    
        &__grid--sidebar{
            display: grid;
            grid-template-columns: none; 
        }
    }
    
    @include tablet {
      
        &__grid--sidebar{
            display: grid;
            grid-template-columns: none; 
        }   
    }
}